*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body{
    background-color: rgb(234, 246, 209);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imhContainer{
height: 40%;
background-color: rgb(247, 93, 93);
width: 100%;
border-radius: 2rem 2rem 0 0;
margin-top: -1.2rem;
display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    height: 90%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 2rem;
  
}
.nameDiv{
    height: 3rem;
    width: 60%;
    background-color: rgb(247, 93, 93);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.infoDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid  rgb(247, 93, 93);
    flex-direction: column;
    height: 10rem;
    padding: 0 1rem;
    border-radius: 1rem;
}

.img{
    height: 7rem;
    width: 8rem;
    border-radius: 50%;
}

.DayOfTheWeek{
    font-size: 1.2rem;
}
.UTCTime{
    font-size: 1.2rem;
}
.track{
    font-size: 1.2rem;
}

.linkDiv{
display: flex;
width: 100%;
display: flex;
    align-items: center;
    justify-content: center;
}

.url{
margin-left: .4rem;
}